{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cover.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="my-0 mr-md-auto">
            <a class="btn btn-primary p-2 text-white" href="#">Blog App</a>
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
            <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
        </nav>

        {% if user.is_authenticated %}
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'post-create' %}">New Post</a>
            <a class="p-2 text-dark" href="{% url 'profile' %}">Profile</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-outline-primary m-2" href="{% url 'login' %}">Sign in</a>
        <a class="btn btn-outline-secondary m-2" href="{% url 'register' %}">Sign up</a>
        {% endif %}
    </div>

    <div class="container">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- django messages here -->
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %} {% endblock content %}
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Latest Post</h3>
                        <p class='text-muted'>Django Blog app
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Latest Posts</li>
                            <li class="list-group-item list-group-item-light">Announcements</li>
                            <li class="list-group-item list-group-item-light">Calendars</li>
                            <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <!-- LOAD STATIC FILES FAVE ICON HERE -->
                    <img class="mb-2" src="" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy;</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Post</a></li>
                        <!-- PROFILE LINK -->
                        <li><a class="text-muted" href="#">Profile</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Python Django</a></li>
                        <li><a class="text-muted" href="#">Bootstrap 4</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- HOLDER JS STATIC -->
    <script src="{% static 'holder.min.js' %}"></script>
</body>

</html>